* {
	box-sizing: border-box;
}

:root{
	--timeout: 500ms;
	--font-height: 16px;
	--font-padding: 5px;
}

.ingredients, .favorites{
	width: 50%;
	display: inline-block;
	float: left;
}

.favorite{
	font-size: var(--font-height);
	background: green;
	color: white;
	border-radius: 3px;
	padding: var(--font-padding) 3px;
	margin: 0 0 5px 0;
}

.fav-title{
	margin: 0 0 5px 0;
}

.transition-wrapper{
	padding: 0 15px;
}

.fade-enter{
	height: 0;
	opacity: 0;
	width: 0;
}

.fade-enter-active{
	height: calc(var(--font-height) + var(--font-padding) + var(--font-padding));
	opacity: 1;
	transition: all var(--timeout);	
	width: 100%
}

.fade-exit{
	height: calc(var(--font-height) + var(--font-padding) + var(--font-padding));
	opacity: 1;
	width: 100%	
}

.fade-exit-active{
	height: 0;
	opacity: 0;
	transition: all var(--timeout);
	width: 0;
	padding: 0;
	margin: 0;
}