/*
	Variables
	BUTTON && MENU colors && measurements
	TIMEOUT -> same as render method value

*/

:root {
  --toggler-width: 120px;
  --toggler-height: 40px;
  --toggler-bg-color: #ffbf00;
  --toggler-active-bg-color: #ffcf40;
  --menu-starting-top: 0px;
  --menu-ending-top: 45px;
  --menu-width: 200px;
  --menu-max-height: 200px;
  --menu-bg-color: #ffdc73;
  --fade-from-color: transparent;
  --fade-to-color: black;
  --timeout: 1550ms;
}

body {
  font-family: sans-serif;
}

.container {
  position: relative;
}

/*
	BUTTON
*/
.toggler {
  position: relative;
  z-index: 2;
  width: var(--toggler-width);
  height: var(--toggler-height);
  background-color: var(--toggler-bg-color);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 350ms;
}

.toggler--active {
  background-color: var(--toggler-active-bg-color);
}


/*
	MENU
*/
.menu {
  position: absolute;
  top: var(--menu-ending-top);
  z-index: 1;
  box-sizing: border-box;
  width: var(--menu-width);
  padding: 0 20px;
  overflow: hidden;
  background-color: var(--menu-bg-color);
  border-radius: 5px;
}

/*
	LIST inside menu
*/
.list {
  padding: 0;
  list-style-type: none;
}

.list-item {
  padding: 5px 0;
}

/*
	TRANSITION STYLES
	CSS transitions gives us custom classes to work with...
		-enter
			fires immediately upon entering the dom
		-enter-active
			fires on next tick after enter
			HERE can be the transition
		-exit
			when stateful value turns false
		-exit-active
			fires on next tick after exit
			HERE can be the transition

	ENTER-ACTIVE && EXIT should be the same
	EXIT-ACTIVE && ENTER should be the same
*/

/*
	Balloon
*/

.balloon-enter{
	opacity: 0
}

.balloon-enter-active{
	opacity: 1;
	transition: opacity var(--timeout);
}

.balloon-exit{
	opacity: 1;
}

.balloon-exit-active{
	opacity: 0;
	transition: opacity var(--timeout);
}

/*
	balloon-appear
*/

.balloon-appear-enter{
	top: var(--menu-starting-top);
	width: var(--toggler-width);
	max-height: var(--toggler-height);
	color: var(--fade-from-color);
	background-color: var(--toggler-bg-color);
}

.balloon-appear-enter-active{
	top: var(--menu-ending-top);
	width: var(--menu-width);
	max-height: var(--menu-max-height);
	color: var(--fade-to-color);
	background-color: var(--menu-bg-color);
	transition: all var(--timeout);
}

.balloon-appear-exit{
	top: var(--menu-ending-top);
	width: var(--menu-width);
	max-height: var(--menu-max-height);
	color: var(--fade-to-color);
	background-color: var(--menu-bg-color);
}

.balloon-appear-exit-active{
	top: var(--menu-starting-top);
	width: var(--toggler-width);
	max-height: var(--toggler-height);
	color: var(--fade-from-color);
	background-color: var(--toggler-bg-color);
	transition: all var(--timeout);
}

/*
	balloon-ltr-appear
*/

.balloon-ltr-enter{
	transform: translate(-300px,0);
	background-color: white;
	color: white;
}

.balloon-ltr-enter-active{
	transform: translate(0,0);
	color: var(--fade-to-color);
	background-color: var(--menu-bg-color);
	transition: all var(--timeout);
}

.balloon-ltr-exit{
	transform: translate(0,0);
	background-color: var(--menu-bg-color);
}

.balloon-ltr-exit-active{
	transform: translate(1200px,0);
	color: white;
	background-color: white;
	transition: all var(--timeout);
}


/*
	appears on load automagically without button click
*/

.balloon-show-init-enter,
.balloon-show-init-appear {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
}

.balloon-show-init-enter-active,
.balloon-show-init-appear-active {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
  transition: all var(--timeout);
}

.balloon-show-init-exit {
  top: var(--menu-ending-top);
  width: var(--menu-width);
  max-height: var(--menu-max-height);
  color: var(--fade-to-color);
  background-color: var(--menu-bg-color);
}

.balloon-show-init-exit-active {
  top: var(--menu-starting-top);
  width: var(--toggler-width);
  max-height: var(--toggler-height);
  color: var(--fade-from-color);
  background-color: var(--toggler-bg-color);
  transition: all var(--timeout);
}